<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Catstore</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" load="products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" load="checkout">Checkout</a>
            </li>
            <li class="nav-item" if.bind="auth.isLoggedIn">
                <a class="nav-link" load="dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" load="cart">Cart (${cartTotal})</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" if.bind="!auth.isLoggedIn">
                <a class="nav-link" load="login">Login</a>
            </li>
            <li class="nav-item" if.bind="!auth.isLoggedIn">
                <a class="nav-link" load="register">Register</a>
            </li>
            <li class="nav-item" if.bind="auth.isLoggedIn">
                <a class="nav-link" click.trigger="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>